/* COMPONENT-LEVEL STYLES */
.bg-main {
    background-color: var(--bg-color-light);
}
  
.container {
    max-width: 100vw;
    padding: 0 1rem;
    margin: 0 auto 0;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .backToHome {
    margin: 3rem 0 0;
  }