/* COMPONENT-LEVEL STYLES */
.container {
    width: 100vw;
    padding: 10vh 1rem;
    margin: 10vh auto 0;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .backToHome {
    margin: 3rem 0 0;
  }