html,
/* GENERAL */
:root {
  --bg-color: #f8eded;
  --font-color: #383636;
  --color-white: #ffffff;
  --clito-bg-color: #f5a0c4;
  --clito-text: #060605;
  --clito-h2: #d2608a;
  --clito-h3: #3a4487;
  --alpha: 0.8;
  --letterspacing: 0.08rem;
  --bs-border-color: var(--font-color) !important;
  --step--2: clamp(0.63rem, calc(0.56rem + 0.37vw), 0.84rem);
  --step--1: clamp(0.84rem, calc(0.75rem + 0.49vw), 1.13rem);
  --step-0: clamp(1.13rem, calc(0.99rem + 0.65vw), 1.5rem);
  --step-1: clamp(1.5rem, calc(1.33rem + 0.87vw), 2rem);
  --step-2: clamp(2rem, calc(1.77rem + 1.16vw), 2.67rem);
  --step-3: clamp(2.66rem, calc(2.36rem + 1.55vw), 3.55rem);
  --step-4: clamp(3.55rem, calc(3.14rem + 2.06vw), 4.74rem);
  --step-5: clamp(8.54rem, calc(7.55rem + 4.95vw), 11.39rem);
}

[data-theme='dark'] {
  --bg-color: #5b6876;
  --font-color: #f8eded;
  --clito-bg-color: #232d3a;
  --clito-text: #fdedb0;
  --clito-h2: #f5a0c4;
  --clito-h3: #eff0fa;
}

/* font 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
     */

@font-face {
  font-family: 'BobaCups';
  src: url('../public/Fonts/Boba_Cups.woff2') format('woff2');
}

body {
  background-color: var(--bg-color) !important;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  line-height: 1.6;
  font-size: var(--step-1);
  color: var(--font-color);
  padding-top: 60px !important;
  width: 100vw;
  @media (max-width: 979px) {
    padding-top: 0px; /* necessary? */
  }
}

//What's this
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: var(--font-color) !important;
  text-decoration: none !important;
}

a:hover {
  color: var(--font-color);
  border-color: var(--font-color);
}

img {
  max-width: 100%;
  display: block;
}

ul,
li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Italiana', sans-serif;
  color: var(--font-color);
  letter-spacing: var(--letterspacing);
}

p {
  font-family: 'Abhaya Libre', serif;
  color: var(--font-color);
}

button {
  border: none;
}

li {
  color: var(--font-color);
}
