html,
/* GENERAL */
:root {
  --bg-color: #f8eded;
  --font-color: #383636;
  --color-white: #ffffff;
  --bs-border-color: var(--font-color)!important;
  --step--2: clamp(0.33rem, calc(0.32rem + 0.07vw), 0.43rem);
  --step--1: clamp(0.54rem, calc(0.52rem + 0.11vw), 0.7rem);
  --step-0: clamp(0.88rem, calc(0.84rem + 0.18vw), 1.13rem);
  --step-1: clamp(1.42rem, calc(1.36rem + 0.29vw), 1.82rem);
  --step-2: clamp(2.29rem, calc(2.2rem + 0.47vw), 2.95rem);
  --step-3: clamp(3.71rem, calc(3.56rem + 0.76vw), 4.76rem);
  --step-4: clamp(6rem, calc(5.75rem + 1.22vw), 7.71rem);
  --step-5: clamp(9.7rem, calc(9.31rem + 1.98vw), 12.48rem);
}

[data-theme='dark'] {
  --bg-color: #5b6876;
  --font-color: #f8eded;
}

/* font 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
     */

body {
  background-color: var(--bg-color) !important;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  line-height: 1.6;
  font-size: 18px;
  color: var(--font-color);
  padding-top: 60px !important;
  width: 100vw;
  @media (max-width: 979px) {
    padding-top: 0px; /* necessary? */
  }
}

//What's this
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: var(--font-color) !important;
  text-decoration: none !important;
}

a:hover {
  color: var(--font-color);
  border-color: var(--font-color);
}

img {
  max-width: 100%;
  display: block;
}

ul,
li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Italiana', sans-serif;
  color: var(--font-color);
}

p {
  font-family: 'Abhaya Libre', serif;
  color: var(--font-color);
}

button {
  border: none;
}

li {
  color: var(--font-color);
}

