html,
/* GENERAL */
:root {
  --bg-color: #f8eded;
  --font-color: #383636;
  --color-white: #ffffff;
  --clito-bg-color: #f5a0c4;
  --clito-bg-text: #eff0fa;
  --clito-text: #060605;
  --clito-h2: #d2608a;
  --clito-h3: #3a4487;
  --alpha: 0.8;
  --letterspacing: 0.08rem;
  --bs-border-color: var(--font-color) !important;
  --step--2: clamp(0.5rem, 0.4565rem + 0.2174vw, 0.625rem);
  --step--1: clamp(0.7075rem, 0.6462rem + 0.3065vw, 0.8838rem);
  --step-0: clamp(1rem, 0.913rem + 0.4348vw, 1.25rem);
  --step-1: clamp(1.4138rem, 1.2907rem + 0.6152vw, 1.7675rem);
  --step-2: clamp(1.9994rem, 1.8255rem + 0.8696vw, 2.4994rem);
  --step-3: clamp(2.8269rem, 2.581rem + 1.2293vw, 3.5338rem);
  --step-4: clamp(3.9975rem, 3.6499rem + 1.738vw, 4.9969rem);
  --step-5: clamp(5.6525rem, 5.161rem + 2.4576vw, 7.0656rem);
  --step-6: clamp(7.9925rem, 7.2973rem + 3.4761vw, 9.9913rem);}

/* @link https://utopia.fyi/type/calculator?c=320,16,1.414,1240,20,1.414,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */


[data-theme='dark'] {
  --bg-color: #5b6876;
  --font-color: #f8eded;
  --clito-bg-color: #232d3a;
  --clito-bg-text: #232d3a;;
  --clito-text: #fdedb0;
  --clito-h2: #f5a0c4;
  --clito-h3: #eff0fa;
}

/* font 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
     */

@font-face {
  font-family: 'BobaCups';
  src: url('../public/Fonts/Boba_Cups.woff2') format('woff2');
}

body {
  background-color: var(--bg-color) !important;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  line-height: 1.6;
  font-size: var(--step-1);
  color: var(--font-color);
  padding-top: 60px !important;
  width: 100vw;
  @media (max-width: 979px) {
    padding-top: 0px; /* necessary? */
  }
}

//What's this
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: var(--font-color) !important;
  text-decoration: none !important;
}

a:hover {
  color: var(--font-color);
  border-color: var(--font-color);
}

img {
  max-width: 100%;
  display: block;
}

ul,
li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Italiana', sans-serif;
  color: var(--font-color);
  letter-spacing: var(--letterspacing);
}

p {
  font-family: 'Abhaya Libre', serif;
  color: var(--font-color);
  font-size: var(--step-0);
}

button {
  border: none;
}

li {
  color: var(--font-color);
}
