html,
/* GENERAL */
:root {
  --bg-color-light: #f8eded;
  --bg-color-dark: ;
  --font-color-dark: #383636;
  --font-color-light: ;
  --color-white: #ffffff;
  --font-titles: 'Italiana', serif;
  --font-text: 'Forum', cursive;
}

/* font 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
     */

body {
  background-color: var(--bg-color-light);
  padding: 0;
  margin: 0;
  line-height: 1.6;
  /* font-family: var(--font-text); */
  font-size: 18px;
  color: var(--font-color-dark);

  padding-top: 60px !important;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px; /* necessary? */
  }
}

* {
  box-sizing: border-box;
}

a {
  color: var(--font-color-dark);
  text-decoration: none;
}

a:hover {
  color: var(--font-color-light);
  border-color: var(--font-color-dark);
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style-type: none;
}

p {
  font-family: 'Italiana', sans-serif;
}

body::selection {
  background-color: primary;
  color: secondary;
}

button {
  border: none;
}
