//variables
$breakpoint-iPadMini: 768px;
$breakpoint-iPhone12: 390px;
$breakpoint-iPadV: 820px;
$breakpoint-iPadH: 1180px;
$breakpoint-NestHubMax: 1280px;
$breakpoint-MacBook13: 1920px;


.allPages {
  margin-top: 6rem;
}

.page {
  margin-top: 60px;
}

/* Not working? */

/* RELATED TO h1 */
.heading3Xl {
  font-family: 'Italiana', sans-serif;
  font-size: 10rem;
  line-height: 5rem;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
  padding-bottom: 10rem;
}

/* RELATED TO h2 */
.heading2Xl {
  font-family: 'Italiana', sans-serif;
  font-size: 5rem;
  line-height: 5rem;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
  overflow: hidden;
}

/* RELATED TO h3 */
.headingXl {
  font-family: 'Italiana', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

/* RELATED TO h4 */
.headingLg {
  font-family: 'Italiana', sans-serif;
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
  // color: var(--font-color-dark);
}

.headingLg a {
  color: var(--font-color-dark);
}

.headingLg a:hover {
  color: var(--font-color-dark);
  -webkit-text-stroke: 1.5px var(--font-color-dark);
}

/* RELATED TO h5 */
.headingMd {
  font-family: 'Italiana', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}

.textDescriptions {
  font-family: 'Forum', serif;
  font-size: 1.2rem;
  line-height: 1.5;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.verticalText {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: 1.7rem;
}

/* LANDING PAGE */
//START PAGE

//do this
.uxWord {
  @media (min-width: $breakpoint-iPhone12) {
    left: 2%;
  }
  @media (min-width: $breakpoint-iPadMini) {
    left: 45%;
  }
  @media (min-width: $breakpoint-MacBook13) {
    left: 48%;
  }
}

.underlineVD {
  color: primary;
  top: -8rem;
  position: relative;
  left: 8rem;
  width: 120%;
  opacity: 100%;
  @media (min-width: $breakpoint-iPhone12) {
  }
}

.lineVertical,
.lineVertical2 {
  width: 2px;
  background: var(--font-color-dark);
}

.lineVertical {
  height: 55vh;
  margin-left: 20px;
  margin-top: 35px;
  top: 4px;
  float: left;
}

.lineVertical2 {
  height: 50vh;
  top: 20vh;
}

.arrowDown {
  position: sticky;
  right: 100%;
  margin-left: -2.4%;
  margin-top: 5rem;
  bottom: 3rem;
  @media (max-width: $breakpoint-iPadMini) {
    margin-left: 2%;
  }
}

.arrowDown:before {
  position: absolute;
  left: -3.3px;
  bottom: 0px;
  border: 1rem solid var(--font-color-dark);
  border-width: 0.1em 0.1em 0 0;
  content: '';
  display: inline-block;
  height: 0.5em;
  transform: rotate(135deg);
  vertical-align: top;
  width: 0.5em;
  @media (min-width: $breakpoint-iPhone12) {
    left: -3px;
  }
}

.findOutBox {
  position: absolute;
  left: 2%;
  margin-top: -25vh;
  @media (min-width: $breakpoint-iPhone12) {
    left: 2%;
    margin-top: -25vh;
  }
  @media (min-width: $breakpoint-iPadMini) {
    left: 45%;
    margin-top: -30vh;
  }
  @media (min-width: $breakpoint-NestHubMax) {
    left: 46%;
    margin-top: -30vh;
  }
  @media (min-width: $breakpoint-MacBook13) {
    left: 47%;
    margin-top: -17vh;
  }
}

.secondArrowDown {
  position: relative;
  left: 1.7%;
  margin-top: -4rem;
  top: 0.2rem;
  margin-bottom: -0.3rem;
  color: primary;
}

/* Redo arrows with media queries */

/* HOME PAGE */
.bigMoon {
  filter: drop-shadow(0 0 20px rgba(252, 255, 200, 0.9));
  background: radial-gradient(white, rgba(255, 249, 235, 0.9));
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.bigMoon:hover {
  filter: drop-shadow(0 0 5rem white);
  background: radial-gradient(white, rgba(255, 255, 255, 0) 75%);
  opacity: 0.7;
}

/*FIND ME*/
/*SM ICONS*/
.iconContainer {
  width: inherit;
  height: auto;
}

.icon {
  width: 5rem;
  height: auto;
  align-items: center;
  justify-content: flex-end;
  transform: scale(0.6);
  margin: -1rem;
  padding-bottom: 0.25em;
}

.icon:nth-child(2) {
  display: none;
}

.iconContainer:hover .icon:nth-child(1) {
  display: none;
}

.iconContainer:hover .icon:nth-child(2) {
  display: block;
}



/* GO BACK */
a.backChevron {
  text-decoration: none;
  color: var(--font-color-dark);
}

a.backChevron:hover + .goBackText {
  text-decoration: dashed;
  color: var(--font-color-light);
}

// No va

/*BLOBS redo*/
$particleSize: 20vmin;
$animationDuration: 6s;
$amount: 20;
.wrapper .blob {
  width: $particleSize;
  height: $particleSize;
  border-radius: $particleSize;
  backface-visibility: hidden;
  position: absolute;
  animation-name: move;
  animation-duration: $animationDuration;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  $colors: (#ffff, var(--color-white));
  @for $i from 1 through $amount {
    &:nth-child(#{$i}) {
      color: nth($colors, random(length($colors)));
      top: random(100) * 10%;
      left: random(100) * 100%;
      animation-duration: (random($animationDuration * 10) / 10) * 1s + 10s;
      animation-delay: random(($animationDuration + 10s) * 10) / 10 * -1s;
      transform-origin: (random(50) - 25) * 1vw (random(50) - 25) * 1vh;
      $blurRadius: (random() + 0.5) * $particleSize * 0.5;
      $x: if(random() > 0.5, -1, 1);
      box-shadow: ($particleSize * 2 * $x) 0 $blurRadius currentColor;
    }
  }
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.blob1 {
  transition: all 300ms;
}

.blob2 {
  transition: all 1s;
}

.blob3 {
  transition: all 3s;
}

.blob4 {
  transition: all 1.5s;
}
