.allPages {
  margin-top: 60px;
}

/* Not working? */

/* RELATED TO h1 */
.heading3Xl {
  font-family: 'Italiana', sans-serif;
  font-size: 10rem;
  line-height: 5rem;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
  padding-bottom: 10rem;
}

/* RELATED TO h2 */
.heading2Xl {
  font-family: 'Italiana', sans-serif;
  font-size: 5rem;
  line-height: 5rem;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

/* RELATED TO h3 */
.headingXl {
  font-family: 'Italiana', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

/* RELATED TO h4 */
.headingLg {
  font-family: 'Italiana', sans-serif;
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

/* RELATED TO h5 */
.headingMd {
  font-family: 'Italiana', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}

.textDescriptions {
  font-family: 'Forum', serif;
  font-size: 1.2rem;
  line-height: 1.5;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.verticalText {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

/* LANDING PAGE */

.underLine:after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 25%;
  width: 50%;
  border-bottom: 1px solid var(--font-color-dark);
}

/* HOME PAGE */

.bigMoon {
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0 0 0.75rem white);
}

.bigMoon:hover {
  filter: drop-shadow(0 0 9rem white);
}

button.bigMoon {
  border-radius: 50%;
  position: relative;
  width: fit-content;
}

/*FIND ME*/
/*SM ICONS*/
.iconContainer {
  width: 20px;
  height: auto;
}

.icon {
  width: 20px;
  height: auto;
  padding: 5px;
  margin: 5px;
}

.icon:nth-child(2) {
  display: none;
}

.iconContainer:hover icon:nth-child(1) {
  display: none;
}

.iconContainer:hover icon:nth-child(2) {
  display: block;
}
