//variables
$breakpoint-mobileL: 425px;
$breakpoint-bootstrapsm: 576px;
$breakpoint-bootstrapmd: 768px;
$breakpoint-bootstraplg: 992px;

.allPages {
  margin-top: 6rem;
  margin-right: 0px;
  max-width: 100vw;
  display: block;
  overflow-x: hidden;
}

.scrollingPage {
  padding-top: 6rem;
  margin-top: 6rem;
}

// Font sizes calculated via https://type-scale.com/  using the golden ratio

/* RELATED TO Main */
.heading4Xl {
  font-size: var(--step-6);
  line-height: 5rem;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
  padding-bottom: 10rem;
}

/* RELATED TO h1 */
.heading3Xl {
  font-size: var(--step-5);
  line-height: 5rem;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
  padding-bottom: 10rem;
}

/* RELATED TO h2 */
.heading2Xl {
  font-size: var(--step-4);
  line-height: 5rem;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
  overflow: hidden;
}

/* RELATED TO h3 */
.headingXl {
  font-size: var(--step-3);
  line-height: 1.4;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

/* RELATED TO h4 */
.headingLg {
  font-size: var(--step-2);
  line-height: 1.4;
  margin: 1rem 0;
}

/* RELATED TO h5 */
.headingMd {
  font-size: var(--step-1);
  line-height: 1.5;
}

/* RELATED TO h6 */
.headingSm {
  font-size: var(--step-0);
  line-height: var(--step-1);
}

.textDescriptions {
  font-family: 'Abhaya Libre', serif;
  font-size: var(--step-0);
  line-height: 1.5;
}

.textDescriptions a {
  text-shadow: 0px 0px 50px #fff, 0px 0px 10px #fff, 0px 0px 15px #fff;
}

.list {
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.verticalText {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: 1.7rem;
  font-family: 'Italiana', sans-serif;
  color: var(--font-color);
}

.verticalText2 {
  @media (max-width: $breakpoint-bootstrapmd) {
    position: absolute;
    white-space: nowrap;
    top: -12rem;
  }
}

/* LANDING PAGE */

.designerText,
.visualText {
  @media (max-width: $breakpoint-mobileL) {
    font-size: var(--step-4);
  }
}

.visualText {
  @media (max-width: $breakpoint-bootstrapmd) {
    padding-bottom: 2rem;
  }
}

.underV,
.underD {
  display: inline-block;
  line-height: 0.85;
  position: relative;
  border-bottom: 1.5px solid var(--font-color);
}

.uxWord {
  display: inline-block;
  line-height: 0.85;
  position: relative;
  border-bottom: 1.5px solid;
}

.lineVertical,
.lineVertical2 {
  width: 2px;
  background: var(--font-color);
}

.lineVertical {
  height: 80vh;
  margin-left: 3%;
  margin-top: 35px;
  top: 4px;
  float: left;
  @media (max-width: $breakpoint-bootstraplg) {
    height: 75vh;
    top: -3rem;
  }
}

.lineVertical2 {
  height: 60vh;
  top: 20vh;
}

.arrowDown {
  position: sticky;
  right: 100%;
  margin-left: 2%;
  margin-top: -2rem;
  bottom: 3rem;
  @media (min-width: $breakpoint-bootstraplg) {
    margin-left: 0rem;
  }
}

.arrowDown:before {
  position: absolute;
  left: -3.3px;
  bottom: 0px;
  border: 1rem solid var(--font-color);
  border-width: 0.1em 0.1em 0 0;
  content: '';
  display: inline-block;
  height: 0.5em;
  transform: rotate(135deg);
  vertical-align: top;
  width: 0.5em;
}

.findOutBox {
  position: absolute;
  left: 3%;
  margin-top: -25vh;
  @media (min-width: $breakpoint-bootstraplg) {
    left: 49vw;
    margin-top: -24vh;
  }
  scroll-behavior: smooth;
}

.findOutBox2 {
  position: absolute;
  left: 12%;
  margin-top: 10%;
  @media (min-width: $breakpoint-bootstrapmd) {
    left: 53%;
    margin-top: 1rem;
  }
  scroll-behavior: smooth;
}

.secondArrowDown {
  position: relative;
  left: 1.7%;
  margin-top: -4rem;
  top: 0.2rem;
  margin-bottom: -0.3rem;
  color: var(--font-color);
}

.uxBox {
  margin-right: 5rem;
  padding-bottom: -5rem;
  padding-right: 5rem;
}

/* HOME PAGE */
.bigMoon {
  filter: drop-shadow(0 0 5rem rgba(252, 255, 200, 0.9));
  background: radial-gradient(white, rgba(255, 255, 255, 0) 5%);

  position: static;
}

.bigMoon:hover {
  filter: drop-shadow(0 0 5rem white);
  background: radial-gradient(white, rgba(255, 255, 255, 0) 55%);
  opacity: 0.7;
}

/*ABOUT PAGE*/

.profilePicBox {
  max-height: inherit;
}

.profilePic {
  max-width: 20%;
}

//from https://www.30secondsofcode.org/css/s/hover-underline-animation

.underlined {
  display: inline-block;
  position: relative;
  text-underline-offset: 0.4rem;
}

.underlined:hover {
  color: var(--font-color);
  -webkit-text-stroke: 1.5px var(--font-color);
}

.underlined::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--font-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underlined:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.textDescriptions a {
  display: inline-block;
  position: relative;
  text-underline-offset: 0.4rem;
}

.textDescriptions a:hover {
  color: var(--font-color);
  -webkit-text-stroke: 1.5px var(--font-color);
}

.textDescriptions a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--font-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.textDescriptions a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/*FIND ME*/
/*SM ICONS*/

.icon {
  width: 5rem;
  height: auto;
  align-items: center;
  justify-content: flex-end;
  transform: scale(0.6);
  margin: -1rem;
  padding-bottom: 0.25em;
  color: var(--font-color);
}

.icon:nth-child(2) {
  display: none;
}

.iconContainer {
  width: inherit;
  height: auto;
}

.iconContainer:hover .icon:nth-child(1) {
  display: none;
}

.iconContainer:hover .icon:nth-child(2) {
  display: block;
}

/* GO BACK */
a.backChevron {
  text-decoration: none;
  color: var(--font-color);
}

a.backChevron:hover + .goBackText {
  text-decoration: dashed;
  color: var(--font-color);
}

// No va

/*BLOBS redo*/
$particleSize: 20vmin;
$animationDuration: 6s;
$amount: 20;
.wrapper .blob {
  width: $particleSize;
  height: $particleSize;
  border-radius: $particleSize;
  backface-visibility: hidden;
  position: absolute;
  animation-name: move;
  animation-duration: $animationDuration;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  $colors: (#ffff, var(--color-white));
  @for $i from 1 through $amount {
    &:nth-child(#{$i}) {
      color: nth($colors, random(length($colors)));
      top: random(100) * 10%;
      left: random(100) * 100%;
      animation-duration: (random($animationDuration * 10) / 10) * 1s + 10s;
      animation-delay: random(($animationDuration + 10s) * 10) / 10 * -1s;
      transform-origin: (random(50) - 25) * 1vw (random(50) - 25) * 1vh;
      $blurRadius: (random() + 0.5) * $particleSize * 0.5;
      $x: if(random() > 0.5, -1, 1);
      box-shadow: ($particleSize * 2 * $x) 0 $blurRadius currentColor;
    }
  }
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.blob1 {
  transition: all 300ms;
}

.blob2 {
  transition: all 1s;
}

.blob3 {
  transition: all 3s;
}

.blob4 {
  transition: all 1.5s;
}

/* Designs */

.designsPicBox {
  max-height: inherit;
  display: flex;
  justify-content: center;
}

.designsPic {
  width: 100%;
  height: auto;
  justify-content: center;
  align-self: center;
}

.designsPicSmaller {
  width: 50%;
  height: auto;
  justify-content: center;
  align-self: center;
}

.designsPicFitTall {
  width: auto;
  height: 100%;
  justify-content: center;
  align-self: center;
}

.mockupPic {
  width: 70%;
  height: auto;
  justify-content: center;
}

.reducedPic {
  display: flex;
  width: 90%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
}

.artbarMenusPic {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
}

.smallerPics {
  width: 100%;
  height: auto;
}

.paragraph {
  font-family: 'Abhaya Libre', serif;
  color: var(--font-color);
}

/*Clitonisa*/

.clitoText {
  font-family: 'Poppins', sans-serif;
  font-size: var(--step--1);
  font-weight: 300;
  line-height: var(--step-1);
  letter-spacing: normal;
  color:var(--clito-text);
}

.clitoTitle1 {
  font-family: 'BobaCups', sans-serif;
  font-size: var(--step-4);
  line-height: 2.2;
  letter-spacing: normal;
  color: var(--clito-h2);
  text-align: center;
}

.clitoTitle2 {
  font-family: 'Poppins', sans-serif;
  font-size: var(--step-1);
  font-weight: 600;
  line-height: var(--step-2);
  letter-spacing: normal;
  color: var(--clito-h3);
}

.clitoLink {
  color: var(--clito-h2);
}

.clitoBgText {
  background-color: var(--clito-bg-text);
}

.clitoBgRosa {
  background-color: var(--clito-bg-color);
}

.fullHeightPic {
  height: 100%;
}

